    .container-quizz{
        width: 60%;
        margin: auto;
    }

    button{
        border: none;
        background-color: #0099cc;
        font-size: 18px;
        border-radius: 25px;
        padding: 10px 20px;
        color: white;
        border: 2px solid #0099cc;
    }

    button:hover{
        background-color: white;
        color: #0099cc;
    }

    input[type=text]{
        width: 60%;
        border: 0;
        background-color: rgba(0,0,0,0.2);
        border-radius: 25px;
        padding: 8px;
        font-size: 12px;
        color: black;
        margin: 10px 0;
    }

    .titleQuizz{
        width: 100% !important;
        padding: 14px !important;
        font-size: 16px !important;
    }

    .btn-question{
        color: white;
        border: 2px solid green;
        background-color: green;
        margin: 20px;
    }

    .btn-question:hover{
        color: green;
    }